#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

.idea/*
coverage.out
.DS_Store
component/vdr/indy/.idea/*

test/bdd/vdr/trustbloc/fixtures/keys
test/bdd/vdr/orb/fixtures/keys
test/bdd/vdr/orb/fixtures/orb/data
test/bdd/vdr/orb/fixtures/orb/export

*.log

.build
